body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#root {
  margin: 0;
  height: 100vh;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100%; 
  }
}

@media screen and (min-width: 1024px) {
  #root {
    width: 45%; 
  }
}  

.card {
  padding: 2em;
}

.span_type{
  background-color: red !important;
}